
<div id="chart">
<%= @data %>
<script>

var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart"),
        width: 580,
        height: 250,
        series: [ {
                color: 'steelblue',
                data: <%= raw(@data) %>
        } ]
} );

graph.render();

</script>



</div>




