
 
<style>
#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
        position: relative;
        left: 40px;
}
#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}
</style>
<div id="chart_container">
        <div id="y_axis"></div>
        <div id="chart"></div>
</div>
<script>

var data = <%= raw(@energyLifetimeData)%>;

var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart"),
        width: 700,
        height: 500,
        series: [ {
                data: data,
                color: 'steelblue'
                
        } ]
} );

var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );
var y_ticks = new Rickshaw.Graph.Axis.Y( {
    graph: graph,
    orientation: 'left',
    tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
    element: document.getElementById('y_axis'),
} );
graph.render();

</script>



