
<div id="weekly_data" style="width: 1000px; height:600px;"></div>



<script type="text/javascript">

    $(function() {
        new Highcharts.Chart({
            chart: {
              renderTo: "weekly_data",
              type: 'spline'
            },
            xAxis: {
                type: "datetime"
            },
            yAxis: {
              title: {
                text: "Watt-Hours"
              }
            },

            series: [
                    {   
                        <% week = WeeklyData.last %>
                        name: "Week of <%= week.forWeek %>",
                        pointInterval: <%= 2400 * 1000 %>,
                        pointStart: <%= (week.forWeek.beginning_of_day.to_i) * 1000 %>,
                        data: <%= week.weeklyProduction.in_groups_of(8).map{|a| a.reduce(:+)} %>
                      
                    }
            ]       
        });
    });

</script>



