@import "fonts";

$uteRed: #cc0000;
$black: #1D1F1E;
$topGrey: #C3C9C9;
$yellow: #FF9939;
$green: #00B257;
$lightBlue: #1F99FF;

@mixin top-border($color) {
  border-top: 10px solid $color;
}

body {
  background-color: $black;
  font-family: 'opensans';
  color: $uteRed;
}

#main_container{
}
#title_panel {
  @include top-border($green);
  float: left;
  width: 30%;
  height: 100%;


}
h1{
  text-align: center;
  color: $uteRed;
  font-size: 5em;
  font-family: 'orbitron-bold';
  padding: 0.3em;
}


.panel {
  background-color: $topGrey;
    -webkit-box-shadow: 7px 7px 1px rgba(0, 0, 10, 0.9);
    -moz-box-shadow:    7px 7px 1px rgba(0, 0, 10, 0.9);
  box-shadow:           7px 7px 1px rgba(0, 0, 10, 0.9);
  border-radius: 10px;
  }

.fe_container{
}

#forecast_div{ 
  iframe{
    margin-top: 1%;
    margin-left: 1em;
  }
  @include top-border($yellow);
  height: 100%;
  float: left;
}
#power_all_time_row{
  @include top-border($green);
}

#slides{
  @include top-border($lightBlue);
  float: left;
}

#countdown_panel{
  border-top: 10px solid $lightBlue;
  height: 100%;
}

#laundry_pic{
  width: 66px;
  height: 66px;
}

.fa{
  height: 55px;
  width: 55px;
}
  h4{
    color: $black;
    margin: 10px auto;
  }
.stats_item{
  color: $black;
  text-align: center;
  font-size: 2em;

  p{
    display: inline;
    width: 100%;
    float: left;
    clear: left;
  }
  i{
    margin: 0.3em auto;

  }

}


#countdownContainer{
  float: left;
  width: 100%;
  font-family: 'orbitron-bold';
  color: 00FF64;
}
  .countdown_section{
    padding-top: 1em;
  }
  .countdown_descr{
    padding-top: 0.7em;
  }

  #bottom_row{
  #vital_stats{
    @include top-border($yellow);
 
  }
  }
